{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Test | Schmidtschulungen</title>{% endblock %}
{% block navigation %}
<ul class="right hide-on-med-and-down">
  <li><a class="white-text" href="{% url 'kran_landing_privat' %}">Start</a></li>
  <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
  <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
  <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
</ul>
<ul id="nav-mobile" class="sidenav">
  <li><a class="white-text" href="{% url 'kran_landing_privat' %}">Start</a></li>
  <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
  <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
  <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
</ul>
{% endblock %}

{% block javascript %}
<script>
  function convert(boolArray) {
    console.log("convert "+boolArray);
    for (var i = 0; i < boolArray.length; i++) {
      if (boolArray[i] == true) {
        console.log("convert "+i+1);
        return (i + 1);
      }
    }
  }

  function getUserAnswers() {
    var userAnswer = [];
    $('#question_container').find('div[id*="question"]').each(function () {
      var answerArray = [];
      $('#' + this.id + " input").each(function () {
        answerArray.push(this.checked);
      });
      userAnswer.push(convert(answerArray));
    });
    return userAnswer;
  }

  function disableQuiz() {
    $('#question_container').find('div[id*="question"]').each(function () {
      $('#' + this.id + " input").each(function () {
        this.disabled = true;
      });
    });
  }

  function checkValidity() {
    var valid = true;
    $('#question_container').find('div[id*="question"]').each(function () {
      //your code here
      $("#" + this.id).removeClass("green lighten-2");
      $("#" + this.id).removeClass("red lighten-2");

      var answerArray = [];
      var val = this;

      $('#' + val.id + " input").each(function () {
        answerArray.push(this.checked);
      });

      if (!answerArray.includes(true)) {
        if (valid) {
          M.toast({ html: 'Beantworten Sie alle Fragen' });

          $("#" + val.id).addClass("red lighten-4")
          // set a timeout that will revert back class after 5 seconds:
          window.setTimeout(function () {
            $("#" + val.id).removeClass("red lighten-4");
          }, 2000);
        }

        valid = false;
      } else {
        var index = answerArray.indexOf(true);
        if (index !== -1) answerArray.splice(index, 1);
        if (answerArray.includes(true)) {
          if (valid) {
            M.toast({ html: 'Nur eine Antwort is korrekt' });

            $("#" + val.id).addClass("red lighten-4")
            // set a timeout that will revert back class after 5 seconds:
            window.setTimeout(function () {
              $("#" + val.id).removeClass("red lighten-4");
            }, 2000);
          }

          valid = false;
        }
      }
    });
    return valid;
  }

  $("#submitTest").click(function () {

    

    $('#question_container').find('div[id*="question"]').each(function () {
      //your code here
      $("#" + this.id).removeClass("green lighten-2");
      $("#" + this.id).removeClass("red lighten-2");
    });

    if (checkValidity()) {

      disableQuiz();

      $('#reload').removeClass("hide");

      this.disabled = true;

      $.ajax({
        url: '/ajax/validateTest/',
        data: {},
        dataType: 'json',
        success: function (data) {

          var answerArray = [];
          var answerConvArray = getUserAnswers();
          
          var correct = 0;
          var incorrect = 0;

          $("#submitTest").removeClass("amber").addClass("green");
          for (var i = 0; i < data.answers.length; i++) {
            console.log("#question_" + (i + 1)+"  "+data.answers[i] + "==" + answerConvArray[i] + "  " + (data.answers[i] == answerConvArray[i]));
            if ((data.answers[i] == answerConvArray[i])) {
              correct++;
              $("#question_" + (i + 1)).addClass("green lighten-2");
            } else {
              incorrect++;
              $("#question_" + (i + 1)).addClass("red lighten-2");
            }
          }
          var sum = (correct+incorrect);
          var rightPercentage = correct/sum*100;
          var feedback

          

          if(rightPercentage > 70){
            feedback = rightPercentage.toFixed(1)+"% Richtig, Sie haben bestanden";
          }else{
            feedback = rightPercentage.toFixed(1)+"% Richtig, Sie haben nicht bestanden";
          }

          $("#result").removeClass("hide").html(feedback);
          
          console.log(feedback);
        }
      });
    }
  });
</script>
{% endblock %}

{% block content %}
<br>
<div class="container">
  <div class="card">
    <br>
    <div class="card-content">
      <div clas="row">
        <span class="card-title" style="font-size: 2rem;">Theoretische Prüfung Kran</span>

        <span class="card-title" style="font-size: 1rem;">nur eine Antwortmöglichkeit ist Richtig</span>
      </div>

      <br>
      <div class="row" id="question_container">
        {% for q in questions %}
        <div class="col s12 m6 l4" style="height: 12rem;" id="question_{{ forloop.counter }}">
          <p class="grey-text text-darken-3" style="font-size: 1.1rem;">
            <strong>{{ forloop.counter }}.{{ q.question_text }}</strong></p>
          <p>
            <label>
              <input type="checkbox" />
              <span class="black-text">{{ q.answer1 }}</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" />
              <span class="black-text">{{ q.answer2 }}</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" />
              <span class="black-text">{{ q.answer3 }}</span>
            </label>
          </p>
          <br>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="valign-wrapper">
          <button id="submitTest" class="btn amber darken-3 col s12 m3" style="width: 20rem;">Prüfen</button>
          <a class="hide" id="reload" href="{% url 'exams' %}"><i class="material-icons"
              style="margin: 1rem;">replay</i></a>
        </div>
      </div>
      <div class="row">
          <p class="flow-text right hide" id="result">Ergebnis: 94.3% Richtig, Sie haben Bestanden</p>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}


{% block navigation_footer %}
<li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
<li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
<li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
<li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
{% endblock %}