{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Test | Schmidtschulungen</title>{% endblock %}
{% block navigation %}
<ul class="right hide-on-med-and-down">
  <li><a class="white-text" href="{% url 'kran_landing_privat' %}">Start</a></li>
  <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
  <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
  <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
</ul>
<ul id="nav-mobile" class="sidenav">
  <li><a class="white-text" href="{% url 'kran_landing_privat' %}">Start</a></li>
  <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
  <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
  <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
</ul>
{% endblock %}

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col s12 valign-wrapper">
      <div>
          <h3 class="grey-text">Theoretische Prüfungen</h3>
      </div>
      {% if user.is_superuser %}
        <a href="{% url 'new_exam' %}"><i class="medium material-icons green-text right">add</i></a>
        {% endif %}
    </div>
    
  </div>
  <div class="card">
    <br>
    <div class="card-content">
      <div clas="row">
        <span class="card-title" style="font-size: 2rem;">Kranprüfung Prüfungen</span>
      </div>

      <br>
      <div class="row" id="question_container">
          {% for exam in exams %}
        <div class="col s12 m6 l4" style="height: 12rem;">
          <p class="grey-text text-darken-3" style="font-size: 1.1rem;">
            <strong>{{ exam.exam_name }}</strong></p>
          <p>
        </div>
        {% endfor %}
      </div>
    
      <div class="row">
          <p class="flow-text right hide" id="result">Ergebnis: 94.3% Richtig, Sie haben Bestanden</p>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}


{% block navigation_footer %}
<li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
<li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
<li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
<li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
{% endblock %}