{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Kontakt | Schmidtschulungen</title>{% endblock %}
{% block navigation %}
<ul class="right hide-on-med-and-down">
    <li><a href="{% url 'kran_landing_privat' %}">Start</a></li>
    <li><a href="{% url 'impressum' %}">Impressum</a></li>
    <li><a href="{% url 'datenschutz' %}">Datenschutz</a></li>
</ul>
<ul id="nav-mobile" class="sidenav">
    <li><a href="{% url 'kran_landing_privat' %}">Start</a></li>
    <li><a href="{% url 'impressum' %}">Impressum</a></li>
    <li><a href="{% url 'datenschutz' %}">Datenschutz</a></li>
</ul>
{% endblock %}
{% block content %}
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col s12 m5">
            <span class="card-title" style="font-size: 2em;">Ablauf</span>
            <div class="divider"></div>
            <ul>
                <div style="margin-top: 1rem;"></div>
                <li>
                    <div class="valign-wrapper" style="font-size: 1.3em;">
                        <p class="grey-text" style="margin-right: 1rem; font-size: 2rem;">1.</p>
                        Füllen Sie das Anmeldeformular aus
                    </div>
                </li>

                <li>
                    <div class="valign-wrapper" style="font-size: 1.3em;">
                        <p class="grey-text" style="margin-right: 1rem; font-size: 2rem;">2.</p>
                        Wir senden Ihnen eine Anmeldebstätigung und eine Rechnung zu
                    </div>
                </li>

                <li>
                    <div class="valign-wrapper" style="font-size: 1.3em;">
                        <p class="grey-text" style="margin-right: 1rem; font-size: 2rem;">3.</p>
                        Nach dem Bezahlen der Rechnung erhalten Sie die genauen Angaben zum Schulungstag
                    </div>

                </li>
                <li>

                    <div class="valign-wrapper" style="font-size: 1.3em;">
                        <p class="grey-text" style="margin-right: 1rem; font-size: 2rem;">4.</p>
                        Sie kommen zur Schulung am {{ course.date }} und legen die theoretische und praktische
                        Prüfung ab
                    </div>

                </li>
                <li>

                    <div class="valign-wrapper" style="font-size: 1.3em;">
                        <p class="grey-text" style="margin-right: 1rem; font-size: 2rem;">5.</p>
                        Inerhalb 7. Werktagen erhalten Sie Ihren Kranschein
                    </div>

                </li>
            </ul>
        </div>

        <div class="col s12 m6 offset-m1">
            <div class="row card amber darken-3" style="padding-bottom: 1em;">
                <div class="card-content white-text">
                    <span class="card-title" style="font-size: 2em;">Anmeldeformular</span>
                    <br>
                    <p style="font-size: 1.5em;"><strong>Ort:</strong> {{ course.location }} {{ course.location_post_id }}</p>
                    <p style="font-size: 1.5em;"><strong>Datum:</strong> {{ course.date }} {{ course.time }}</p>
                    <p style="font-size: 1.5em;"><strong>Kosten:</strong> {{ course.cost }}€</p>
                    <br>

                    <form class="col s12 course_request" action="/anmelden/{{ course.id }}" method="post">
                        {% csrf_token %}
                        {{ request_form }}
                        <input type="submit" value="Anmelden">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}

{% block navigation_footer %}
<li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
<li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
<li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
{% endblock %}