<div style="background-color: #5599FF; margin: 0; padding: 0;">
    <div id="cc">
      <a href="/blocks/" class="admin_nav_item">Blocks</a>
      <a href="/pages/" class="admin_nav_item">Pages</a>
      <a href="/dashboard/" class="admin_nav_item">Dashboard</a>
      <a href="/admin/" class="admin_nav_item">Admin</a>
      <div style="display: table-cell;"> </div>
      <a href="/logout"  class="admin_nav_item"><i class="material-icons">close</i></a>
    </div>
    
    <style>
      #cc {
        display: table;
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
      }
      @media only screen and (min-width: 601px) {
        #cc {
          width: 85%;
        }
      }
      @media only screen and (min-width: 993px) {
        #cc {
          width: 70%;
        }
      }
      .admin_nav_item{
        display: table-cell; 
        color: #ffffff; 
        width: 1%;
        white-space: nowrap;
        text-decoration: none;
        font-family: Roboto;
        padding: 0 0.5rem 0 0.5rem ;
        vertical-align: middle;
      }
    </style>
  </div>