{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Impressum | Schmidtschulungen</title>{% endblock %}
{% block navigation %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'datenschutz' %}">Datenschutz</a></li>
                <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
             </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'datenschutz' %}">Datenschutz</a></li>
        <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="container">
        <h4>Impressum</h4>
        Kranservice Michael Schmidt<br>
        Ziegelgrund 25<br>
        87755 Kirchhaslach<br>
    <br></p>
    <h4>Kontakt:</h4>
    <p>
        <br>
        E-Mail:<br>
        info@kranschulungschmidt.de<br>
        Umsatzsteuer-ID:<br>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
        <br>
        138/269/20275
    </p>
</div>
{% endblock %}

{% block navigation_footer %}
<li><a  class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
                <li><a class="white-text"  href="{% url 'datenschutz' %}">Datenschutz</a></li>
                <li><a class="white-text"  href="{% url 'kontakt' %}">Kontakt</a></li>
                {% endblock %}