{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Referenzen | Schmidtschulungen</title>{% endblock %}
{% block navigation %}
            <ul class="right hide-on-med-and-down">
                    <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
                    <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
                    <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
             </ul>
            <ul id="nav-mobile" class="sidenav">
                    <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
                    <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
                    <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
            </ul>
        {% endblock %}
{% block content %}
   <div class="container">
    <div class="section">

      <h4>Referenzliste</h4>
      <div class="divider"></div>
      <br>

      <table class="striped col s12 m8">
          <thead>
            <tr>
                <th>Firmenname</th>
                <th>Standort</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>Aich & Co. GmbH Schallschutz</td>
              <td>88069 Tettnang</td>
            </tr>
            <tr>
              <td>AUTOLIV GmbH</td>
              <td>85221 Dachau</td>
            </tr>
            <tr>
              <td>Adolf Würth GmbH & Co. KG</td>
              <td>74653 Künzelsau</td>
            </tr>
            <tr>
              <td>BMW AG Werk 2.27</td>
              <td>84164 Moosthenning</td>
            </tr>
             <tr>
              <td>Burger GmbH Montage & Umformtechnik</td>
              <td>87484 Nesselwang</td>
            </tr>
             <tr>
              <td>BTO Beteiligungs GmbH + Co.</td>
              <td>86551 Aichach</td>
            </tr>
             <tr>
              <td>Centrotherm GmbH</td>
              <td>89136 Blaubeuren</td>
            </tr>
             <tr>
              <td>C. Haushahn GmbH & Co.</td>
              <td>70469 Stuttgart</td>
            </tr>
             <tr>
              <td>Deckel Maho Pfronten GmbH</td>
              <td>87459 Pfronten</td>
            </tr>
            <tr>
              <td>DMG Mori Seiki München</td>
              <td>82538 Geretsried</td>
            </tr>
            <tr>
              <td>EHW Elektrizitätswerk Hindelang e.G.</td>
              <td>87541 Hindelang</td>
            </tr>
            <tr>
              <td>Entwässerungsbetrieb Stadt Mainz</td>
              <td>55120 Mainz</td>
            </tr>
            <tr>
              <td>Erwin Ruf Brennschneide GmbH</td>
              <td>76297 Stutensee</td>
            </tr>
            <tr>
              <td>ETIMEX Primary Packaging GmbH</td>
              <td>89165 Dietenheim</td>
            </tr>
            <tr>
              <td>Fischer Edelstahlrohre GmbH</td>
              <td>77855 Achern</td>
            </tr>
            <tr>
              <td>Fried Kunststofftechnik GmbH</td>
              <td>73660 Urbach</td>
            </tr>
            <tr>
              <td>Friedrich Schrag GmbH & Co. KG</td>
              <td>83317 Teisendorf</td>
            </tr>
            <tr>
              <td>FKS Kunststoffe GmbH</td>
              <td>72406 Bisingen</td>
            </tr>
            <tr>
              <td>Glashandelsgesellschaft Tuttlingen GmbH & Co. KG</td>
              <td>78532 Tuttlingen</td>
            </tr>
            <tr>
              <td>H.W.A. GmbH</td>
              <td>71563 Affalterbach</td>
            </tr>
            <tr>
              <td>H. Stoll GmbH & Co. KG</td>
              <td>72760 Reutlingen</td>
            </tr>
            <tr>
              <td>J. Wagner GmbH</td>
              <td>88677 Markdorf</td>
            </tr>
            <tr>
              <td>Jost-Werke GmbH</td>
              <td>91639 Wolframs-Eschenbach</td>
            </tr>
            <tr>
              <td>Josef Rees GmbH & Co. KG</td>
              <td>78564 Wehingen</td>
            </tr>
             <tr>
              <td>Junker Maschinenfabrik GmbH</td>
              <td>77787 Nordrach</td>
            </tr>
            <tr>
              <td>Küba Kältetechnik GmbH</td>
              <td>82065 Baierbrunn</td>
            </tr>
            <tr>
              <td>MDE Dezentrale Energiesysteme GmbH</td>
              <td>86105 Augsburg</td>
            </tr>
            <tr>
              <td>MTU Aero Engines GmbH</td>
              <td>80995 München</td>
            </tr>
            <tr>
              <td>Otto Wöhr GmbH</td>
              <td>71292 Friolzheim</td>
            </tr>
            <tr>
              <td>Porsche Logistik GmbH</td>
              <td>74343 Sachsenheim</td>
            </tr>
             <tr>
              <td>RCC Rostfrei – Coil – Center GmbH</td>
              <td>74372 Sersheim</td>
            </tr>
            <tr>
              <td>RICO GmbH & Co. KG</td>
              <td>73230 Kirchheim / Teck</td>
            </tr>
            <tr>
              <td>Ronal GmbH</td>
              <td>76829 Landau</td>
            </tr>
            <tr>
              <td>Siemens AK Zentralabteilung</td>
              <td>81739 München</td>
            </tr>
            <tr>
              <td>Siemens AG Transformatorenwerk Kirchheim</td>
              <td>73230 Kirchheim</td>
            </tr>
            <tr>
              <td>Schafheutle Glas GmbH</td>
              <td>79232 March – Hugstetten</td>
            </tr>
             <tr>
              <td>Südpack Verpackungen GmbH & Co.</td>
              <td>88412 Ochsenhausen</td>
            </tr>
            <tr>
              <td>Steeltec Praezisa GmbH</td>
              <td>78078 Niedereschach</td>
            </tr>
            <tr>
              <td>Swoboda KG</td>
              <td>87487 Wiggensbach</td>
            </tr>
            <tr>
              <td>Walter Neff GmbH</td>
              <td>76142 Karlsruhe</td>
            </tr>
            <tr>
              <td>WST Präzisionstechnik Willmann GmbH</td>
              <td>79849 Löffingen</td>
            </tr>
            <tr>
              <td>ZARGES GmbH</td>
              <td>82360 Weilheim</td>
            </tr>
          </tbody>
        </table>
              

    <br><br>
  </div>
</div>
  {% endblock %}


  {% block navigation_footer %}
  <li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
    <li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
    <li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
    <li><a class="white-text" href="{% url 'kontakt' %}">Kontakt</a></li>
{% endblock %}