{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Dashboard | Schmidtschulungen</title>{% endblock %}
{% block breadcrumb %}
<nav class="indigo darken-4">
        <div class="nav-wrapper container ">
          <div class="col s12">
            <a href="/dashboard" class="breadcrumb">Dashboard</a>
          </div>
        </div>
      </nav>
              
{% endblock %}
{% block content %}
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col s12 m6">
            <span class="card-title" style="font-size: 2em;">Anfragen</span>
            
            {% if requests %}
                {% for request in requests %}
                    <div class="divider"></div>
                    <p>{{request.course_type}} {{request.customer_anschrift}} {{request.customer_anzahl_teilnehmer}} Personen <a class="red-text align-right" href="delete_request/{{request.id}}"><i class="material-icons">remove_circle</i></a></p>
           
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12 m6">
            <div class="card-title" style="font-size: 2em;">Schulungstermine <a class="green-text align-right" href="{% url 'addDate' %}"><i class="material-icons">add_circle</i></a></div>
            <div class="divider"></div>
            {% if course_dates %}
                {% for course_date in course_dates %}
                    <div class="divider"></div>
                    <p>{{course_date.date}} {{course_date.location_post_id}} {{course_date.location}} <a class="grey-text align-right" href="edit_course/{{course_date.id}}"><i class="material-icons">edit</i></a><a class="red-text align-right" href="delete_date/{{course_date.id}}"><i class="material-icons">remove_circle</i></a></p>
                {% endfor %}
            {% endif %}

            
        </div>
        <div class="col s12 m6">
                <div class="card-title" style="font-size: 2em;">Anmeldungen</div>
                <div class="divider"></div>
                {% if course_registrations %}
                    {% for course_registration in course_registrations %}
                        <div class="divider"></div>
                        <p>{{course_registration.customer_name}} {{course_registration.customer_email}} {{course_registration.location}} 
                            <a class="red-text align-right" href="delete_date/{{course_date.id}}"><i class="material-icons">remove_circle</i></a></p>
                    {% endfor %}
                {% endif %}                
            </div>

            <div class="col s12 m6">
                <div class="card-title" style="font-size: 2em;">Prüfungen  <a class="green-text align-right" href="{% url 'new_exam' %}"><i class="material-icons">add_circle</i></a></div>
                <div class="divider"></div>
                {% if exams %}
                    {% for exam in exams %}
                        <div class="divider"></div>
                        <p>{{exam.exam_name}}
                            <a class="grey-text align-right" href="{% url 'edit_exam' exam.id %}"><i class="material-icons">edit</i></a></p>
                    {% endfor %}
                {% endif %}                
            </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}

{% block navigation_footer %}
<li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
<li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
<li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
{% endblock %}