{% extends "landing/base.html" %}
{% load static %}
{% block title %}<title>Dashboard</title>{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<br>
<br>
<div class="container">

    <div class="row" style="display: table; width: 100%;">
        <div style="display:table-cell; width: 100%; padding:0; vertical-align: bottom;">
            <h3 style="margin:0; padding: 0;" class="grey-text">Requests</h3>
        </div>

    </div>
    <div class="row divider"></div>

    <div class="row">
        <div class="col s12 m6">
            {% if requests %}
                {% for request in requests %}
                <div style="display:table; width: 100%;">
                    <div style="width:100%; vertical-align: middle; display: table-cell;">
                        <p style="margin-bottom: 15px; margin-top: 15px; padding:0;" class="grey-text text-darken-3"><b>{{ block.label }}</b><span
                                style="font-size: 1rem;" class="grey-text"> /{{ request.course_type}}</span></p>
                    </div>
                    <div
                        style="line-height:1rem;display: table-cell; vertical-align: middle;">
                        {{request.customer_anschrift}}
                    </div>
                    <div
                        style="line-height:1rem;display: table-cell; vertical-align: middle;">
                        {{request.customer_anzahl_teilnehmer}}
                    </div>
                    <a href="delete_request/{{request.id}}"
                        style="line-height:1rem;display: table-cell; vertical-align: middle;">
                        <i class="material-icons">remove_circle</i>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}

{% block navigation_footer %}
<li><a class="white-text" href="{% url 'kran_landing' %}">Start</a></li>
<li><a class="white-text" href="{% url 'impressum' %}">Impressum</a></li>
<li><a class="white-text" href="{% url 'datenschutz' %}">Datenschutz</a></li>
{% endblock %}